<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | Local Connect</title>

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS  -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/Dashboard.css">
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/css/login_signup.css">
    <link type="text/css" rel="stylesheet" href="/css/fonts/Raleway.css">
    <link type="text/css" rel="stylesheet" href="/w3.css">
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            padding-top: 160px;
            min-height: 100%;
            background: black url("/images/camaje-cooking-7.jpg") center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bgimg w3-animate-opacity content">
    <div class="w3-display-container" style="padding-top: 80px;">
        <div class="w3-container" style="background-color: rgba(0,0,0,0.85)">
            <div class="col-sm-6 col-sm-offset-3 w3-animate-right">
                <form action="<%= routes.connect_local.pathname %>" method="post"
                      class="w3-container w3-text-blue w3-margin">
                    <h2 class="w3-center">Add Local Account</h2>

                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                        <div class="w3-rest">
                            <input class="w3-input w3-border browser-default" name="name" type="text"
                                   placeholder="Name">
                        </div>
                    </div>

                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
                        <div class="w3-rest">
                            <input class="w3-input w3-border browser-default" name="email" type="email"
                                   placeholder="Email">
                        </div>
                    </div>

                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
                        <div class="w3-rest">
                            <input class="w3-input w3-border browser-default" name="password" type="password"
                                   placeholder="Password">
                        </div>
                    </div>

                    <p class="w3-center">
                        <button type="submit" class="w3-button w3-section w3-blue w3-ripple">Add Local</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <a id="foot" class="w3-button w3-block w3-blue w3-ripple w3-animate-bottom"
       href="<%= routes.navbar.profile.pathname %>">Go back to profile</a>
</div>

<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">PotLuck Beta Phase</h5>
                <p class="grey-text text-lighten-4">Finally, an application to help you decide what you want for dinner
                    tonight.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.privacy_policy.pathname %>"><%= routes.privacy_policy.alias %></a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.tos.pathname %>"><%= routes.tos.alias %></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 - 2017 ISU-DSL, All rights reserved.
            <a class="grey-text text-lighten-4 right" href="http://home.engineering.iastate.edu/~chinmay/">Iowa State
                Data Science Lab</a>
        </div>
    </div>
</footer>

<!-- Scripts  -->
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/recipe_view_search.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
<script>
    const routes = <%- JSON.stringify(routes) %>;

    addNav(routes);
    addModals();

    let navbar_routes = "";
    let active_set = false;

    for (let key in routes.navbar) {
        if (routes.navbar.hasOwnProperty(key)) {
            if (routes.navbar[key].pathname === window.location.pathname) {
                navbar_routes += "<li class='active'><a style='color:white!important;' href='" + routes.navbar[key].pathname + "'>" + routes.navbar[key].alias + "</a></li>";
                active_set = true;
            } else
                navbar_routes += "<li><a href='" + routes.navbar[key].pathname + "'>" + routes.navbar[key].alias + "</a></li>";
        }
    }

    if (!active_set)
        navbar_routes += "<li class='active'><a style='color:white!important;' href='" + window.location.href + "'>" + document.title.split('|')[1].trim() + "</a></li>";

    $(document).ready(() => $('.navbar-nav').html(navbar_routes));
</script>
</body>
</html>