<!doctype html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | <%= user.local.name %>'s Profile</title>

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS  -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/Dashboard.css">
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/profile.css">
    <link type="text/css" rel="stylesheet" href="/raleway.min.css">
    <link type="text/css" rel="stylesheet" href="/w3.css">
    <link type="text/css" rel="stylesheet" href="/css/Feedback.css">

    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            height: 100%;
            background: gray;
            overflow: scroll;
        }

        .bgimg:before {
            background: url("/images/Japanese-cuisine-seafood-shrimp-fish-squid-meat-shellfish-on-wooden-table-min.jpg") no-repeat fixed center;
            background-size: cover;
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108483296-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-108483296-1');
    </script>
</head>
<body>
<div class="bgimg w3-animate-opacity content">
    <div class="w3-display-container" style="padding-top: 160px;">
        <div class="col-sm-8 col-sm-offset-2 w3-animate-bottom" style="background: rgba(93,64,55,0.6)">
            <div class="page-header text-center">
                <div class="jumbotron brown darken-3" style="opacity: 0.95">
                    <h1><span class="fa fa-user"></span><span style="color: #f5f5f5; "> My Profile</span></h1>
                </div>
            </div>

            <div class="row">

                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <% const acct_statuses = {};
                    user_obj = user.toObject();
                    acct_statuses.local = user_obj.local ? 'connected' : '';
                    acct_statuses.facebook = user_obj.facebook ? 'connected' : '';
                    acct_statuses.twitter = user_obj.twitter ? 'connected' : '';
                    acct_statuses.google = user_obj.google ? 'connected' : '';
                    acct_statuses.github = user_obj.github ? 'connected' : '';
                    acct_statuses.linkedin = user_obj.linkedin ? 'connected' : '';
                    %>
                    <div class="well local-acct <%= acct_statuses.local %>" style="background-color:whitesmoke">
                        <%
                        let name = "";
                        if (acct_statuses.local === 'connected') {
                            name = user.local.name; %>
                        <div class="notification"></div>
                        <% } else if (acct_statuses.facebook === 'connected')
                            name = user.facebook.name;
                        else if (acct_statuses.twitter === 'connected')
                            name = user.twitter.displayName;
                        else if (acct_statuses.google === 'connected')
                            name = user.google.name;
                        else if (acct_statuses.linkedin === 'connected')
                            name = user.github.name;
                        else
                        %>
                        <h3><span class="fa fa-user"></span> Welcome, <span
                                    <% if (acct_statuses.local === 'connected') { %>data-editable
                                    <% } %>
                                    class="name"><%= name %></span></h3>

                        <% if (acct_statuses.local === 'connected') { %>

                        <p>
                            <strong>Email</strong>: <span <% if (acct_statuses.local === 'connected') { %>data-editable
                                    <% } %>
                                                          class="email"><%= user.local.email %></span><br><br>
                        </p>
                        <% if (!user.local.picture) { %>
                        <b>Upload a profile photo:</b>
                        <form action="/profile/photo" method="POST" enctype="multipart/form-data">
                            <label for="file-upload" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Upload Photo
                            </label>
                            <input id="file-upload" type="file" name="avatar">
                            <input type="submit" value="submit">
                        </form>
                        <% } else { %>
                        <img id="profile_picture" class="responsive-img circle"
                             src="/profile/photo/<%= user.local.picture %>" alt="LOCAL_PP"
                             align="left">
                        <a href="/profile/photo/delete/<%= user.local.picture %>" class="btn btn-danger btn-sm">Delete
                            Photo</a>
                        <% } %>
                        <% if (user.connected_accounts < 2) { %>
                        <button type="submit" class="btn btn-danger btn-remove-acct">Delete Account</button>
                        <% } else { %>
                        <button type="submit" class="btn btn-default unlink-local">Unlink Local</button>
                        <% } %>
                        <% } else { %>
                        <a href="<%= routes.connect_local.pathname %>" class="btn btn-default">Connect Local</a>
                        <% } %>
                    </div>

                    <!-- Change Profile Information -->
                    <div class="well" style="background-color:whitesmoke">
                        <h3><span class="fa fa-user"></span> Change Profile Information</h3>

                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="form-pass">
                                        <label for="password">Change Password</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-warning btn-update-prof">Save Changes
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- FACEBOOK INFORMATION -->
                <div class="col-sm-6">
                    <div class="well facebook-acct <%= acct_statuses.facebook %>">
                        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (acct_statuses.facebook === 'connected') { %>

                        <p>
                            <img src="<%= user.facebook.picture %>" alt="FB_PP" align="left">
                            <strong>name</strong>: <%= user.facebook.name %><br>
                            <strong>email</strong>: <%= user.facebook.email %>
                        </p>

                        <% if (user.connected_accounts < 2) { %>
                        <button type="submit" class="btn btn-danger btn-remove-acct">Delete Account</button>
                        <% } else { %>
                        <button type="submit" class="btn btn-primary unlink-facebook">Unlink</button>
                        <% } %>
                        <% } else { %>
                        <a href="<%= routes.connect_facebook.pathname %>" class="btn btn-primary">Connect Facebook</a>
                        <% } %>

                    </div>
                </div>

                <!-- TWITTER INFORMATION -->
                <div class="col-sm-6">
                    <div class="well twitter-acct <%= acct_statuses.twitter %>">
                        <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (acct_statuses.twitter === 'connected') { %>

                        <p>
                            <img src="<%= user.twitter.picture %>" alt="TW_PP" align="left">
                            <strong>displayName</strong>: <%= user.twitter.displayName %><br>
                            <strong>username</strong>: <%= user.twitter.username %><br>
                            <strong>email</strong>: <%= user.twitter.email %>
                        </p>

                        <% if (user.connected_accounts < 2) { %>
                        <button type="submit" class="btn btn-danger btn-remove-acct">Delete Account</button>
                        <% } else { %>
                        <button type="submit" class="btn btn-info unlink-twitter">Unlink</button>
                        <% } %>
                        <% } else { %>
                        <a href="<%= routes.connect_twitter.pathname %>" class="btn btn-info">Connect Twitter</a>
                        <% } %>

                    </div>
                </div>

                <!-- GOOGLE INFORMATION -->
                <div class="col-sm-6">
                    <div class="well google-acct <%= acct_statuses.google %>">
                        <h3 class="text-warning"><span class="fa fa-google-plus"></span> Google</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (acct_statuses.google === 'connected') { %>

                        <p>
                            <img src="<%= user.google.picture %>" alt="G_PP" align="left">

                            <strong>name</strong>: <%= user.google.name %><br>
                            <strong>email</strong>: <%= user.google.email %>
                        </p>

                        <% if (user.connected_accounts < 2) { %>
                        <button type="submit" class="btn btn-danger btn-remove-acct">Delete Account</button>
                        <% } else { %>
                        <button type="submit" class="btn btn-danger unlink-google">Unlink</button>
                        <% } %>
                        <% } else { %>
                        <a href="<%= routes.connect_google.pathname %>" class="btn btn-danger">Connect Google</a>
                        <% } %>

                    </div>
                </div>

                <!-- GITHUB INFORMATION -->
                <div class="col-sm-6">
                    <div class="well github-acct <%= acct_statuses.github %>">
                        <h3 class="text-muted"><span class="fa fa-github"></span> GitHub</h3>

                        <% if (acct_statuses.github === 'connected') { %>

                        <p>
                            <img src="<%= user.github.picture %>" alt="GH_PP" align="left">
                            <strong>name</strong>: <%= user.github.name %><br>
                            <strong>username</strong>: <%= user.github.username %><br>
                            <strong>email</strong>: <%= user.github.email %>
                        </p>

                        <% if (user.connected_accounts < 2) { %>
                        <button type="submit" class="btn btn-danger btn-remove-acct">Delete Account</button>
                        <% } else { %>
                        <button type="submit" class="btn btn-default unlink-github">Unlink</button>
                        <% } %>
                        <% } else { %>
                        <a href="<%= routes.connect_github.pathname %>" class="btn btn-default">Connect GitHub</a>
                        <% } %>

                    </div>
                </div>

                <!-- LINKEDIN INFORMATION -->
                <div class="col-sm-6">
                    <div class="well linkedin-acct <%= acct_statuses.linkedin %>">
                        <h3 class="text-muted"><span class="fa fa-linkedin"></span> LinkedIn</h3>

                        <% if (acct_statuses.linkedin === 'connected') { %>

                        <p>
                            <img src="<%= user.linkedin.picture %>" alt="GH_PP" align="left">
                            <strong>name</strong>: <%= user.linkedin.name %><br>
                            <strong>headline</strong>: <%= user.linkedin.headline %><br>
                            <strong>email</strong>: <%= user.linkedin.email %>
                        </p>

                        <% if (user.connected_accounts < 2) { %>
                        <button type="submit" class="btn btn-danger btn-remove-acct">Delete Account</button>
                        <% } else { %>
                        <button type="submit" class="btn btn-primary unlink-linkedin">Unlink</button>
                        <% } %>
                        <% } else { %>
                        <a href="<%= routes.connect_linkedin.pathname %>" class="btn btn-primary">Connect LinkedIn</a>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">PotLuck Beta Phase</h5>
                <p class="grey-text text-lighten-4">Finally, an application to help you decide what you want for dinner
                    tonight.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.privacy_policy.pathname %>"><%= routes.privacy_policy.alias %></a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.tos.pathname %>"><%= routes.tos.alias %></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 - 2017 ISU-DSL, All rights reserved.
            <a class="grey-text text-lighten-4 right" href="http://home.engineering.iastate.edu/~chinmay/">Iowa State
                Data Science Lab</a>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/recipe_view_search.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/feedback.js"></script>
<script>
    const routes = <%- JSON.stringify(routes) %>;

    addFeedback();
    addNav(routes);
    addModals();

    let navbar_routes = "";
    let active_set = false;

    for (let key in routes.navbar) {
        if (routes.navbar.hasOwnProperty(key)) {
            if (routes.navbar[key].pathname === window.location.pathname) {
                navbar_routes += "<li class='active'><a style='color:white!important;' href='" + routes.navbar[key].pathname + "'>" + routes.navbar[key].alias + "</a></li>";
                active_set = true;
            } else
                navbar_routes += "<li><a href='" + routes.navbar[key].pathname + "'>" + routes.navbar[key].alias + "</a></li>";
        }
    }

    if (!active_set)
        navbar_routes += "<li class='active'><a style='color:white!important;' href='" + window.location.href + "'>" + document.title.split('|')[1].trim() + "</a></li>";

    $(document).ready(() => {
        $('.navbar-nav').html(navbar_routes);
        if (localStorage.getItem('profile_notification') !== 'dismissed')
            $('.notification').addClass('w3-panel w3-blue w3-display-container w3-card-4').append('<span class="w3-button w3-display-topright notification-close">&times;</span>\n' +
                '        <h4>Hey!</h4>\n' +
                '        <p>You can change your name or email by clicking on them. Try it!</p>');

        $('.btn-update-prof').click((event) => { // Handle event when there is a a click on the class
            event.preventDefault();
            const data = {
                name: $('.name').val(),
                email: $('.email').val(),
                pass: $('.form-pass').val()
            };

            $.ajax({
                type: 'POST',
                url: routes.navbar.profile.pathname,
                data: data,
                dataType: 'text',
                success: res => {
                    if (JSON.parse(res).password.valid) {
                        Materialize.toast('Password successfully reset!', 4000, 'teal')
                    } else
                        Materialize.toast('Password invalid. Try again.', 4000, 'teat')
                }
            });
        });

        $('.btn-remove-acct').click(event => {
            event.preventDefault();
            $.ajax({
                type: 'DELETE',
                url: routes.navbar.profile.pathname,
                success: res => {
                    Materialize.toast(res.msg, 3000, 'black-text white');
                    setTimeout(() => window.location = res.red, 3000);
                }
            })
        });

        const unlink_btn_classes = ['unlink-local', 'unlink-facebook', 'unlink-twitter', 'unlink-google', 'unlink-github', 'unlink-linkedin'];
        $('.' + unlink_btn_classes.join(',.')).click(event => {
            event.preventDefault();
            const class_names = event.currentTarget.css_color.split(/\s+/);
            const button_clicked = $.grep(class_names, c => {
                return $.inArray(c, unlink_btn_classes) !== -1;
            })[0];
            const url = button_clicked === 'unlink-local' ? routes.unlink_local.pathname :
                button_clicked === 'unlink-facebook' ? routes.unlink_facebook.pathname :
                    button_clicked === 'unlink-twitter' ? routes.unlink_twitter.pathname :
                        button_clicked === 'unlink-google' ? routes.unlink_google.pathname :
                            button_clicked === 'unlink-github' ? routes.unlink_github.pathname :
                                routes.unlink_linkedin.pathname;
            $.ajax({
                type: 'DELETE',
                url: url,
                success: res => {
                    Materialize.toast(res.msg, 4000, 'black-text white');
                    const account_status = $('.' + res.connect_alias.toLowerCase() + '-acct');
                    account_status.removeClass('connected');
                    $('.' + res.connect_alias.toLowerCase() + '-acct h3:first').nextAll().remove();
                    $('span[data-editable]').removeAttr('data-editable');

                    if (res.connected_accounts < 2) {
                        const btn = $('div.w3-display-container > div > div.row').find('div.connected > button');
                        const btn_class_names = btn.attr('class').split(/\s+/);
                        const btn_class_name_to_del = $.grep(btn_class_names, c => {
                            return $.inArray(c, unlink_btn_classes) !== -1;
                        })[0];
                        btn.removeClass(btn_class_name_to_del + ' btn-default btn-primary btn-info btn-danger').addClass('btn-remove-acct btn-danger').text('Delete Account');
                    }

                    account_status.append('<a href="' + res.connect_url + '" class="btn ' + res.btn_color + '">Connect ' + res.connect_alias + '</a>');
                }
            });
        });

        $('body').on('click', '[data-editable]', function (event) {
            event.preventDefault();
            const el = $(this);

            let label = "";
            if (el.hasClass('name'))
                label = 'Name';
            else if (el.hasClass('email'))
                label = 'Email';


            const div = $('<div class="input-field inline">\n' +
                '            <input id="rename" type="text">\n' +
                '            <label for="rename">' + label + '</label>\n' +
                '          </div>');

            const input = div.find('input');

            input.val(el.text());
            el.replaceWith(div);

            const save = () => {
                const p = $('<span data-editable class="' + label.toLowerCase() + '" />').text(input.val());
                div.replaceWith(p);
                const data = {
                    pass: $('.form-pass').val()
                };

                data[label.toLowerCase()] = input.val();

                // Attach remaining info to JSON
                if (!data.hasOwnProperty('name'))
                    data['name'] = $('.name').val();

                if (!data.hasOwnProperty('email'))
                    data['email'] = $('.email').val();

                $.ajax({
                    type: 'POST',
                    url: routes.navbar.profile.pathname,
                    data: data,
                    dataType: 'text',
                    success: res => {
                        const res_obj = JSON.parse(res);
                        if (label.toLowerCase() === 'name' && res_obj.name.valid)
                            Materialize.toast('Name successfully changed to ' + res_obj.name.is, 4000, 'teal');
                        else if (label.toLowerCase() === 'name' && !res_obj.name.valid) {
                            Materialize.toast('Name invalid. Try again.', 4000, 'teal');
                            $('.name').text(res_obj.name.is);
                        }

                        if (label.toLowerCase() === 'email' && res_obj.email.valid)
                            Materialize.toast('Email successfully changed to ' + res_obj.email.is, 4000, 'teal');
                        else if (label.toLowerCase() === 'email' && !res_obj.email.valid) {
                            Materialize.toast('Email invalid or already taken. Try again.', 4000, 'teal');
                            $('.email').text(res_obj.email.is);
                        }
                    }
                });
            };

            input.one('blur', save).focus();

        });

        $('.notification-close').click(e => {
            $(e.currentTarget).parent().css('display', 'none');
            localStorage.setItem('profile_notification', 'dismissed');
        });
    });
</script>
</body>
</html>