<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | <%= user.local.name %>'s Profile</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS  -->
    <link type="text/css" rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.css"
          media="screen,projection"/>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/Dashboard.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../public/css/profile.css">
    <link rel="stylesheet" href="../../public/css/fonts/Raleway.css">
    <link rel="stylesheet" href="../../node_modules/w3-css/w3.css">

    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            padding-top: 160px;
            word-wrap: break-word;
            min-height: 100%;
            background: black url("../../public/images/Japanese-cuisine-seafood-shrimp-fish-squid-meat-shellfish-on-wooden-table.jpg") center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bgimg w3-animate-opacity">
    <!------------------------------------------------->
    <!--                 NAVBAR                      -->
    <!------------------------------------------------->
    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<%= routes.index.pathname %>">PotLuck</a>
                    <!-- Search Bar -->
                    <section class="searcbar">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">search</i>
                                        <input id="icon-prefix" type="text">
                                        <label for="icon-prefix">Find a recipe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right"></ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div> <!-- /container -->

    <div class="w3-display-container" style="padding-top: 80px;">
        <div class="col-sm-8 col-sm-offset-2 w3-animate-bottom" style="background: rgba(93,64,55,0.6)">
            <div class="page-header text-center">
                <div class="jumbotron brown darken-3" style="opacity: 0.95">
                    <h1><span class="fa fa-user"></span><span style="color: #f5f5f5; "> My Profile</span></h1>
                </div>
            </div>

            <div class="row">

                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well" style="background-color:whitesmoke">
                        <%
                        let name = "";
                        if (user.local.name)
                            name = user.local.name;
                        else if (user.facebook.name)
                            name = user.facebook.name;
                        else if (user.twitter.displayName)
                            name = user.twitter.displayName;
                        else if (user.google.name)
                            name = user.google.name;
                        else
                            name = user.github.name;
                        %>
                        <h3><span class="fa fa-user"></span> Welcome, <span data-editable
                                                                            class="name"><%= name %></span></h3>

                        <% if (user.local.email) { %>

                        <p>
                            <strong>Email</strong>: <span data-editable class="email"><%= user.local.email %></span><br><br>
                        </p>
                        <% if (!user.local.picture) { %>
                        <b>Upload a profile photo:</b>
                        <form action="/profile/photo" method="POST" enctype="multipart/form-data">
                            <label for="file-upload" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Upload Photo
                            </label>
                            <input id="file-upload" type="file" name="avatar">
                            <input type="submit" value="submit">
                        </form>
                        <% } else { %>
                        <img id="profile_picture" class="responsive-img circle"
                             src="/profile/photo/<%= user.local.picture %>" alt="LOCAL_PP"
                             align="left">
                        <a href="/profile/photo/delete/<%= user.local.picture %>" class="btn btn-danger btn-sm">Delete
                            Photo</a>
                        <% } %>

                        <a href="<%= routes.unlink_local.pathname %>" class="btn btn-default">Unlink</a>
                        <% } else { %>
                        <a href="<%= routes.connect_local.pathname %>" class="btn btn-default">Connect Local</a>
                        <% } %>
                    </div>

                    <!-- Change Profile Information -->
                    <div class="well" style="background-color:whitesmoke">
                        <h3><span class="fa fa-user"></span> Change Profile Information</h3>

                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="form-pass">
                                        <label for="password">Change Password</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-warning btn-lg btn-update-prof">Save Changes
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- FACEBOOK INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-info"><span class="fa fa-lightbulb-o"></span> Recommended Recipes</h3>
                    </div>
                    <div class="well">
                        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.facebook.token) { %>

                        <p>
                            <img src="<%= user.facebook.picture %>" alt="FB_PP" align="left">
                            <strong>name</strong>: <%= user.facebook.name %><br>
                            <strong>email</strong>: <%= user.facebook.email %>
                        </p>

                        <a href="<%= routes.unlink_facebook.pathname %>" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                        <a href="<%= routes.connect_facebook.pathname %>" class="btn btn-primary">Connect Facebook</a>
                        <% } %>

                    </div>
                </div>

                <!-- TWITTER INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.twitter.token) { %>

                        <p>
                            <img src="<%= user.twitter.picture %>" alt="TW_PP" align="left">
                            <strong>displayName</strong>: <%= user.twitter.displayName %><br>
                            <strong>username</strong>: <%= user.twitter.username %><br>
                            <strong>email</strong>: <%= user.twitter.email %>
                        </p>

                        <a href="<%= routes.unlink_twitter.pathname %>" class="btn btn-info">Unlink</a>
                        <% } else { %>
                        <a href="<%= routes.connect_twitter.pathname %>" class="btn btn-info">Connect Twitter</a>
                        <% } %>

                    </div>
                </div>

                <!-- GOOGLE INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-warning"><span class="fa fa-google-plus"></span> Google</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.google.token) { %>

                        <p>
                            <img src="<%= user.google.picture %>" alt="G_PP" align="left">

                            <strong>name</strong>: <%= user.google.name %><br>
                            <strong>email</strong>: <%= user.google.email %>
                        </p>

                        <a href="<%= routes.unlink_google.pathname %>" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                        <a href="<%= routes.connect_google.pathname %>" class="btn btn-danger">Connect Google</a>
                        <% } %>

                    </div>
                </div>

                <!-- GITHUB INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-muted"><span class="fa fa-github"></span> GitHub</h3>

                        <% if (user.github.token) { %>

                        <p>
                            <img src="<%= user.github.picture %>" alt="GH_PP" align="left">
                            <strong>name</strong>: <%= user.github.name %><br>
                            <strong>username</strong> <%= user.github.username %><br>
                            <strong>email</strong>: <%= user.github.email %>
                        </p>

                        <a href="<%= routes.unlink_github.pathname %>" class="btn btn-default">Unlink</a>
                        <% } else { %>
                        <a href="<%= routes.connect_github.pathname %>" class="btn btn-default">Connect GitHub</a>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">PotLuck Beta Phase</h5>
                <p class="grey-text text-lighten-4">Finally, an application to help you decide what you want for dinner
                    tonight.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.privacy_policy.pathname %>"><%= routes.privacy_policy.alias %></a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.tos.pathname %>"><%= routes.tos.alias %></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 - 2017 ISU-DSL, All rights reserved.
            <a class="grey-text text-lighten-4 right" href="http://home.engineering.iastate.edu/~chinmay/">Iowa State
                Data Science Lab</a>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.js"></script>
<script>
    $(document).ready(() => {
        let navbar_routes = "";

        <% for (let key in routes.navbar) {
        if (routes.navbar.hasOwnProperty(key))  { %>
        if ("<%= routes.navbar[key].pathname %>" === window.location.pathname)
            navbar_routes += "<li class=\"active\"><a style=\"color:white!important;\" href=\"<%= routes.navbar[key].pathname %>\"><%= routes.navbar[key].alias %></a></li>";
        else
            navbar_routes += "<li><a href=\"<%= routes.navbar[key].pathname %>\"><%= routes.navbar[key].alias %></a></li>\n";
        <% } %>
        <% } %>

        $('.navbar-nav').html(navbar_routes);

        $('.btn-update-prof').click((event) => { // Handle event when there is a a click on the class
            event.preventDefault();
            const data = {
                name: $('.name').val(),
                email: $('.email').val(),
                pass: $('.form-pass').val()
            };

            $.ajax({
                type: 'POST',
                url: '<%= routes.navbar.profile.pathname %>',
                data: data,
                dataType: 'text',
                success: res => {
                    if (JSON.parse(res).password.valid) {
                        Materialize.toast('Password successfully reset!', 4000, 'teal')
                    } else
                        Materialize.toast('Password invalid. Try again.', 4000, 'teat')
                }
            });
        });

        $('body').on('click', '[data-editable]', function (event) {
            event.preventDefault();
            const el = $(this);

            let label = "";
            if (el.hasClass('name'))
                label = 'Name';
            else if (el.hasClass('email'))
                label = 'Email';


            const div = $('<div class="input-field inline">\n' +
                '            <input id="rename" type="text">\n' +
                '            <label for="rename">' + label + '</label>\n' +
                '          </div>');

            const input = div.find('input');

            input.val(el.text());
            el.replaceWith(div);

            const save = () => {
                const p = $('<span data-editable class="' + label.toLowerCase() + '" />').text(input.val());
                div.replaceWith(p);
                const data = {
                    pass: $('.form-pass').val()
                };

                data[label.toLowerCase()] = input.val();

                // Attach remaining info to JSON
                if (!data.hasOwnProperty('name'))
                    data['name'] = $('.name').val();

                if (!data.hasOwnProperty('email'))
                    data['email'] = $('.email').val();

                $.ajax({
                    type: 'POST',
                    url: '<% routes.navbar.profile.pathname %>',
                    data: data,
                    dataType: 'text',
                    success: res => {
                        const res_obj = JSON.parse(res);
                        if (label.toLowerCase() === 'name' && res_obj.name.valid)
                            Materialize.toast('Name successfully changed to ' + res_obj.name.is, 4000, 'teal');
                        else if (label.toLowerCase() === 'name' && !res_obj.name.valid) {
                            Materialize.toast('Name invalid. Try again.', 4000, 'teal');
                            $('.name').text(res_obj.name.is);
                        }

                        if (label.toLowerCase() === 'email' && res_obj.email.valid)
                            Materialize.toast('Email successfully changed to ' + res_obj.email.is, 4000, 'teal');
                        else if (label.toLowerCase() === 'email' && !res_obj.email.valid) {
                            Materialize.toast('Email invalid. Try again.', 4000, 'teal');
                            $('.email').text(res_obj.email.is);
                        }
                    }
                });
            };

            input.one('blur', save).focus();

        });
    });
</script>
</body>
</html>