<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | Home Page</title>

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS  -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <% if (loggedin) { %>
    <link type="text/css" rel="stylesheet" href="/css/Dashboard.css">
    <% } %>
    <link type="text/css" rel="stylesheet" href="/css/Feedback.css">
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/raleway.min.css">
    <link type="text/css" rel="stylesheet" href="/w3.css">
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%;
        }

        .bgimg {
            height: 100%;
            background: gray;
            overflow: hidden;
        }

        .bgimg:before {
            background: url("/images/Chinese-food-wallpaper-12-2560x1600-min.jpg") no-repeat fixed center;
            background-size: cover;
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108483296-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-108483296-1');
    </script>
</head>
<body>
<div class="bgimg">
    <div class="content w3-display-container w3-animate-opacity">
        <div id="manipulate" class="container-fluid text-center toggle_off"
             style="background-color: rgba(0,0,0,0.85); padding-top: 80px; padding-bottom: 80px">
            <div class="w3-animate-right">
                <div class="row">
                    <% if (loggedin) { %>
                    <h1><span class="fa fa-lock"></span><span
                                style="color: #b22222; "> Welcome, <%= user.local.name %></span>
                    </h1>
                    <div class="container target">
                        <div class="row">
                            <div>
                                <p><span style="color: #f5f5f5; "> Go to your profile:</span></p>
                                <a href="<%= routes.navbar.profile.pathname %>" class="btn btn-default"><span
                                            class="fa fa-user"></span><span
                                            style="color: black;">
                    My Profile</span></a>
                            </div>
                            <div>
                                <p><span style="color: #f5f5f5; "> View your recommendations:</span></p>
                                <a href="<%= routes.navbar.dashboard.pathname %>" class="btn btn-info"><span
                                            class="fa fa-lightbulb-o"></span><span
                                            style="color: black;">
                                Dashboard</span></a>
                            </div>
                            <div>
                                <p><span style="color: #f5f5f5;">Or logout: </span></p>
                                <a href="<%= routes.navbar.logout.pathname %>" class="btn btn-danger"><span
                                            class="fa fa-sign-out"></span><span
                                            style="color: black;">
                    Logout</span></a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="suggestions" class="w3-jumbo w3-padding-large"
                         style="background-color: rgba(227,186,209,0.45); display: none">
                        <div class="container">
                            <div class="row">
                                <div id="Sugg0" class="col-md-4">

                                </div>
                                <div id="Sugg1" class="col-md-4">

                                </div>
                                <div id="Sugg2" class="col-md-4">

                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else { %>
                    <div class="col s12">
                        <h1><span class="fa fa-lock"></span><span style="color: #b22222; "> Sign-in Options</span></h1>
                    </div>
                    <div class="row">
                        <p><span style="color: #f5f5f5; "> Login or Register locally:</span></p>
                        <a href="<%= routes.login.pathname %>" class="btn btn-default"><span
                                    class="fa fa-user"></span><span
                                    style="color: black;"> Login</span></a>
                        <a href="<%= routes.signup.pathname %>" class="btn btn-default"><span
                                    class="fa fa-user"></span><span
                                    style="color: black;"> Signup</span></a>
                    </div>
                    <p><span style="color: #f5f5f5; "> External account login/registration:</span></p>
                    <div class="row">
                        <a href="<%= routes.auth_facebook.pathname %>" class="btn btn-primary"><span
                                    class="fa fa-facebook"></span>
                            Facebook</a>
                        <a href="<%= routes.auth_twitter.pathname %>" class="btn btn-info"><span
                                    class="fa fa-twitter"></span>
                            Twitter</a>
                    </div>
                    <div class="row">
                        <a href="<%= routes.auth_google.pathname %>" class="btn btn-danger"><span
                                    class="fa fa-google-plus"></span>
                            Google</a>
                        <a href="<%= routes.auth_github.pathname %>" class="btn btn-default"><span
                                    class="fa fa-github"></span>
                            GitHub</a>
                    </div>
                    <div class="row">
                        <a href="<%= routes.auth_linkedin.pathname %>" class="btn btn-primary"><span
                                    class="fa fa-linkedin"></span>
                            LinkedIn</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">PotLuck Beta Phase</h5>
                <p class="grey-text text-lighten-4">Finally, an application to help you decide what you want for dinner
                    tonight.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.privacy_policy.pathname %>"><%= routes.privacy_policy.alias %></a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.tos.pathname %>"><%= routes.tos.alias %></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 - 2017 ISU-DSL, All rights reserved.
            <a class="grey-text text-lighten-4 right" href="http://home.engineering.iastate.edu/~chinmay/">Iowa State
                Data Science Lab</a>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/recipe_view_search.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/feedback.js"></script>
<script>
    const routes = <%- JSON.stringify(routes) %>;
    const loggedin = <%- loggedin %>;

    addFeedback();

    const content = $('.content');
    if (loggedin) {
        content.css('padding-top', '200px');
        addNav(routes);
        addModals();

        let navbar_routes = "";
        let active_set = false;

        for (let key in routes.navbar) {
            if (routes.navbar.hasOwnProperty(key)) {
                if (routes.navbar[key].pathname === window.location.pathname) {
                    navbar_routes += "<li class='active'><a style='color:white!important;' href='" + routes.navbar[key].pathname + "'>" + routes.navbar[key].alias + "</a></li>";
                    active_set = true;
                } else
                    navbar_routes += "<li><a href='" + routes.navbar[key].pathname + "'>" + routes.navbar[key].alias + "</a></li>";
            }
        }

        if (!active_set)
            navbar_routes += "<li class='active'><a style='color:white!important;' href='" + window.location.href + "'>" + document.title.split('|')[1].trim() + "</a></li>";

        $(document).ready(() => $('.navbar-nav').html(navbar_routes));
    } else {
        content.css('padding-top', '80px');
    }

    function check() {
        const isMobile = window.matchMedia("only screen and (max-width: 768px)");

        if (isMobile.matches)
            $(".target > .row").find("div").removeClass().addClass('row');
        else
            $(".target > .row").find("div").removeClass().addClass('col s4');
    }

    $(document).ready(() => {
        check();
        $(window).bind('orientationchange', check);
    });
</script>

</body>
</html>