<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | Polling</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" ref="../../public/css/fonts/Raleway.css">
    <link rel="stylesheet" href="../../node_modules/w3-css/w3.css">
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            min-height: 100%;
            background: black url("../../public/images/12265684_1010729262282686_8800740801702150174_o.jpg") center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bgimg w3-animate-opacity">
    <div class="w3-display-topleft w3-padding-large w3-xlarge" style="z-index: 1; background-color: rgba(0,0,0,0.6); border-radius: 0 0 15px 0">
        <a href="/" style="text-decoration: none; color: #477496">PotLuck</a>
    </div>
    <div class="container">
        <% let i = 0 %>
        <div class="jumbotron text-center">
            <h3><span class="fa fa-user"></span> Welcome, <%= user.local.name %></h3>
            <p>Let's collect more information about your food preferences.</p>
            <div id="recipeTitle">
                <h4></h4>
            </div>
            <div>
                <img id="recipeImg" src="" alt="recipe" style="object-fit: cover; width: 540px; height: auto">
            </div>
            <br>
            <div class="row w3-padding-32">
                <div class="col-md-4">
                    <button id="" type="submit" class="btn btn-like w3-button w3-round w3-green">
                        Like
                    </button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-finish w3-button w3-round w3-gray">
                        Finish
                    </button>
                </div>
                <div class="col-md-4">
                    <button id="" type="submit" class="btn btn-dislike w3-button w3-round w3-red">
                        Dislike
                    </button>
                </div>
            </div>
            <div>
                <p id="num_recipes"></p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        let recipes = [],
            num_recipes = <%= recipes.length %>,
            index = 0,
            rated_data = {};

        <% recipes.forEach((recipe, idx) => { %>
        recipes[<%= idx %>] = {
            title: '<%= recipe.title %>',
            image: '<%= recipe.image %>',
            id: <%= recipe._id %>
        };
        <% }) %>

        $('h4').text(recipes[index].title);
        $('#recipeImg').attr('src', recipes[index].image);
        $('.btn-dislike, .btn-like').attr('id', recipes[index].id);

        function isFinishedRating() {
            return index === num_recipes - 1;
        }

        function nextRecipe() {
            $('h4').text(recipes[++index].title);
            $('#recipeImg').attr('src', recipes[index].image);
            $('.btn-dislike, .btn-like').attr('id', recipes[index].id);
        }

        function postToPolling(data) {
            $.post('/polling', data, (res) => {
                if (res.status === 'Success') window.location = res.redirectTo;
            })
        }

        $('.btn-like').click(() => {
            rated_data[index] = {
                recipeId: recipes[index].id,
                rating: 1
            };

            if (isFinishedRating()) postToPolling(rated_data);
            else nextRecipe();
        });

        $('.btn-dislike').click(() => {
            rated_data[index] = {
                recipeId: recipes[index].id,
                rating: 0
            };

            if (isFinishedRating()) postToPolling(rated_data);
            else nextRecipe();
        });

        $('.btn-finish').click(() => postToPolling(rated_data));
    });
</script>
</body>
</html>