<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | Polling</title>

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS  -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/Dashboard.css">
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/raleway.min.css">
    <link type="text/css" rel="stylesheet" href="/w3.css">

    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            padding-top: 200px;
            min-height: 100%;
            background: black url("/images/12265684_1010729262282686_8800740801702150174_o-min.jpg") center;
            background-size: cover;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108483296-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-108483296-1');
    </script>
</head>
<body>
<div class="bgimg w3-animate-opacity content">
    <div class="container">
        <div class="jumbotron text-center">
            <h3><span class="fa fa-user"></span> Welcome, <%= user.local.name %></h3>
            <p>Let's collect more information about your food preferences.</p>
            <div class="card">
                <div class="card-image">
                    <img id="recipeImg" class="activator" src="" alt="recipe" style="width: 100%">
                </div>
                <div id="recipeTitle" class="card-content"></div>
                <div class="card-action">
                    <button id="" type="submit" class="btn btn-like-polling w3-button w3-round w3-green">
                        Like
                    </button>
                    <button id="" type="submit" class="btn btn-dislike-polling w3-button w3-round w3-red">
                        Dislike
                    </button>
                    <button type="submit" class="btn btn-finish w3-button w3-round w3-gray">
                        Finish
                    </button>
                </div>
                <div class="card-content">
                    <p style="font-size: small">Does this recipe look suspicious? Help us catch anomalies and let us
                        know by hitting the button below!</p>
                    <button id="" type="submit" class="btn btn-error-recipe">
                        Report
                    </button>
                </div>
            </div>
            <div>
                <p id="num_recipes"><%= recipes.length %> Recipes Left to Rate</p>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">PotLuck Beta Phase</h5>
                <p class="grey-text text-lighten-4">Finally, an application to help you decide what you want for
                    dinner
                    tonight.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.privacy_policy.pathname %>"><%= routes.privacy_policy.alias %></a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="<%= routes.tos.pathname %>"><%= routes.tos.alias %></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 - 2017 ISU-DSL, All rights reserved.
            <a class="grey-text text-lighten-4 right" href="http://home.engineering.iastate.edu/~chinmay/">Iowa
                State
                Data Science Lab</a>
        </div>
    </div>
</footer>

<!-- Scripts  -->
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/recipe_view_search.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
<script>
    const routes = <%- JSON.stringify(routes) %>;
    const recipes = <%- JSON.stringify(recipes) %>;

    addNav(routes);
    addModals();

    let navbar_routes = "";
    let active_set = false;

    for (let key in routes.navbar) {
        if (routes.navbar.hasOwnProperty(key)) {
            if (routes.navbar[key].pathname === window.location.pathname) {
                navbar_routes += "<li class='active'><a style='color:white!important;' href='" + routes.navbar[key].pathname + "'>" + routes.navbar[key].alias + "</a></li>";
                active_set = true;
            } else
                navbar_routes += "<li><a href='" + routes.navbar[key].pathname + "'>" + routes.navbar[key].alias + "</a></li>";
        }
    }

    if (!active_set)
        navbar_routes += "<li class='active'><a style='color:white!important;' href='" + window.location.href + "'>" + document.title.split('|')[1].trim() + "</a></li>";

    let num_recipes = recipes.length;

    recipes.forEach((recipe, idx) => {
        recipes[idx] = {
            title: recipe.title,
            image: recipe.image,
            id: recipe._id
        };
    });

    $(document).ready(() => {
        $('.navbar-nav').html(navbar_routes);

        let index = 0,
            rated_data = {};

        $('#recipeTitle').html('<span class="card-title activator grey-text text-darken-4">' + recipes[index].title + '</span>');
        $('#recipeImg').attr('src', recipes[index].image);
        $('.btn-dislike-polling, .btn-like-polling, .btn-error-recipe').attr('id', recipes[index].id);

        function isFinishedRating() {
            return index === num_recipes - 1;
        }

        function nextRecipe() {
            const recipeImg = $('#recipeImg');
            recipeImg.attr('src', recipes[++index].image);
            recipeImg.one('load', () => {
                $('#recipeTitle').html('<span class="card-title activator grey-text text-darken-4">' + recipes[index].title + '</span>');
                $('.btn-dislike-polling, .btn-like-polling').attr('id', recipes[index].id);
            }).each(() => {
                if (this.complete) $(this).load()
            });

            $('#num_recipes').text(num_recipes - index + ' Recipes Left to Rate');
        }

        function postToPolling(data) {
            $.post(routes.navbar.polling.pathname, data, (res) => {
                if (res.status === 'Success') window.location = res.redirectTo;
            })
        }

        $('.btn-like-polling').click(() => {
            rated_data[index] = {
                recipe: recipes[index].id,
                rating: 1
            };

            if (isFinishedRating()) postToPolling(rated_data);
            else nextRecipe();
        });

        $('.btn-dislike-polling').click(() => {
            rated_data[index] = {
                recipe: recipes[index].id,
                rating: 0
            };

            if (isFinishedRating()) postToPolling(rated_data);
            else nextRecipe();
        });

        $('.btn-error-recipe').click(() => {
            rated_data[index] = {
                recipe: recipes[index].id,
                rating: -1
            };

            Materialize.toast('We\'ll look into this recipe. Thanks!', 4000, 'teal');

            if (isFinishedRating()) postToPolling(rated_data);
            else nextRecipe();
        });

        $('.btn-finish').click(() => postToPolling(rated_data));
    });
</script>
</body>
</html>