<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | Polling</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" ref="../../public/css/fonts/Raleway.css">
    <link rel="stylesheet" href="../../node_modules/w3-css/w3.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../public/js/fieldParser.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            min-height: 100%;
            background: black url("../../public/images/camaje-cooking-7.jpg") center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bgimg w3-animate-opacity">
    <div class="w3-display-topleft w3-padding-large w3-xlarge" style="z-index: 1">
        <a href="/" style="text-decoration: none; color: #477496">PotLuck</a>
    </div>
    <div class="container">
        <div class="jumbotron text-center">
            <h3><span class="fa fa-user"></span> Welcome, <%= user.local.name %></h3>
            <p>Let's collect more information about your food preferences.</p>
            <h4><%= recipe[0].title %></h4>
            <img src=<%= recipe[0].image %> alt="recipe" style="object-fit: cover; width: 540px; height: auto">
            <br>
            <div class="row w3-padding-32">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-like w3-button w3-round w3-green"
                            recipe-id="<%= recipe[0]._id %>">Like
                    </button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-finish w3-button w3-round w3-gray">Finish</button>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-dislike w3-button w3-round w3-red"
                            recipe-id="<%= recipe[0]._id %>">Dislike
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>